{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding:5px
}

.title {
    text-align: center;
}


    </style>

</head>

<body>

<div class="title">
    <h1 class="section-sub-title">Togo Embassy Visa Application</h1>
    <h4 class="mb-5">Application Details</h4>

</div>


<section>
    <div>
        <table style="width:100%">

            <tr>
                <th>Visa Type</th>
                <td>{{visa_application.visa_type}}</td>
            </tr>
            <tr>
                <th>Passport Type</th>
                <td>{{visa_application.passport_type}}</td>
            </tr>
            <tr>
                <th>Country Residence</th>
                <td>{{visa_application.country_residence}}</td>
            </tr>
             <tr>
                <th>Visa Entry</th>
                <td>{{visa_application.visa_entry}}</td>
            </tr>

             <tr>
                <th>Nationality</th>
                <td>{{visa_application.nationality}}</td>
            </tr>

            <tr>
                <th>Nationality at Birth</th>
                <td>{{visa_application.nationality_at_birth}}</td>
            </tr>

            <tr>
                <th>Other Nationality</th>
                <td>{{visa_application.other_nationality}}</td>
            </tr>

            <tr>
                <th>Embassy Processing Office</th>
                <td>{{visa_application.nationality_at_birth}}</td>
            </tr>


        </table>
    </div>
    <h4 class="mb-5">Personal Info</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Title</th>
                <td>{{personal_info.title}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{user.first_name}}</td>
            </tr>
             <tr>
                <th>Other Names</th>
                <td>{{personal_info.other_names}}</td>
            </tr>

             <tr>
                <th>Median Names</th>
                <td>{{personal_info.median_names}}</td>
            </tr>

            <tr>
                <th>Gender</th>
                <td>{{personal_info.gender}}</td>
            </tr>

            <tr>
                <th>Marital Status</th>
                <td>{{personal_info.marital_status}}</td>
            </tr>

            <tr>
                <th>Profession</th>
                <td>{{personal_info.profession}}</td>
            </tr>

            <tr>
                <th>Date of Birth</th>
                <td>{{personal_info.dob|date}}</td>
            </tr>

             <tr>
                <th>Place of Birth</th>
                <td>{{personal_info.place_of_birth}}</td>
            </tr>
             <tr>
                <th>Phone Number</th>
                <td>{{personal_info.phone_number}}</td>
            </tr>
             <tr>
                <th>Mode of Communication</th>
                <td>{{personal_info.mode_of_communication}}</td>
            </tr>


        </table>
    </div>

    <h4 class="mb-5">Travel Detail</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Purpose of Travel</th>
                <td>{{travel_detail.purpose_of_travel}}</td>
            </tr>
            <tr>
                <th>Date of last visit to country</th>
                <td>{{travel_detail.last_visit_to_country_date|date}}</td>
            </tr>

            <tr>
                <th>Departure Date</th>
                <td>{{travel_detail.departure_date|date}}</td>
            </tr>


            <tr>
                <th>Stay Duration (Days)</th>
                <td>{{travel_detail.stay_duration}}</td>
            </tr>


             <tr>
                <th>Stay Duration (Days)</th>
                <td>{% if travel_detail.return_ticket == True %}
                                Yes
                                {% else %}
                               No
                                {% endif %}</td>
            </tr>

               <tr>
                <th>Financial means at applicant's
                                    disposal?</th>
                <td>{{travel_detail.financial_dispose}}</td>
            </tr>




        </table>
    </div>


     <h4 class="mb-5">Travel History / Criminal History</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Purpose of Travel</th>
                <td> {% if travel_history.ever_visited_destination == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>
            <tr>
                <th>Have you ever been denied entry into
                                    destinated country?</th>
                <td> {% if travel_history.ever_been_denied_entry == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>

            <tr>
                <th>Have you ever been deported to / from
                                    destinated country?</th>
                <td> {% if travel_history.ever_been_deported == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>

               <tr>
                <th>Do you have a criminal record in destinated
                                    country or any other country?</th>
                <td> {% if travel_history.criminal_record_in_destined_or_other == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>

             <tr>
                <th>Do you suffer from a mental disorder?</th>
                <td> {% if travel_history.mental_disorder == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>


             <tr>
                <th>Do you suffer from any communicable
                                    diseases?</th>
                <td> {% if travel_history.communicable_disease == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>






        </table>
    </div>

      <h4 class="mb-5">Passport Details</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Passport Numbers</th>
                <td>{{passport_detail.passport_no}}</td>
            </tr>

             <tr>
                <th>Place of Issue</th>
                <td>{{passport_detail.place_of_issue}}</td>
            </tr>



            <tr>
                <th>Date of Issue</th>
                <td>{{passport_detail.date_of_issue|date}}</td>
            </tr>

             <tr>
                <th>Expiry of Issue</th>
                <td>{{passport_detail.expiry_date|date}}</td>
            </tr>





        </table>
    </div>

     <h4 class="mb-5">Contact Information</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Applicant Name</th>
                <td>{{contact_info.application_name}}</td>
            </tr>

             <tr>
                <th>Residential address of current country</th>
                <td>{{contact_info.residential_addr_cur_country}}</td>
            </tr>
             <tr>
                <th>Postal Address /P.O.Box</th>
                <td>{{contact_info.postal_address}}</td>
            </tr>
             <tr>
                <th>City/ Town</th>
                <td>{{contact_info.city_town}}</td>
            </tr>

            <tr>
                <th>Country</th>
                <td>{{contact_info.country}}</td>
            </tr>
            <tr>
                <th>State / Region</th>
                <td>{{contact_info.state_region}}</td>
            </tr><tr>
                <th>Zip Code</th>
                <td>{{contact_info.zip_code}}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{contact_info.telephone}}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{contact_info.mobile}}</td>
            </tr>
            <tr>
                <th>Email ID</th>
                <td>{{contact_info.zip_code}}</td>
            </tr>






        </table>
    </div>

       <h4 class="mb-5">Mailing Address</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Select if the Address is same as Residential Address</th>
                <td>{% if mailing_address.same_as_residential == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>

             <tr>
                <th>Postal Address</th>
                <td>{{mailing_address.postal_address}}</td>
            </tr>

            <tr>
                <th>Address 2</th>
                <td>{{mailing_address.address_2}}</td>
            </tr>
            <tr>
                <th>City/Town</th>
                <td>{{mailing_address.city_town}}</td>
            </tr>

            <tr>
                <th>Country</th>
                <td>{{mailing_address.country}}</td>
            </tr>

            <tr>
                <th>State / Region</th>
                <td>{{mailing_address.state_region}}</td>
            </tr>


             <tr>
                <th>Zip Code</th>
                <td>{{mailing_address.zip_code}}</td>
            </tr>

             <tr>
                <th>Email</th>
                <td>{{mailing_address.email}}</td>
            </tr>
        </table>
    </div>

    <h4 class="mb-5">Hotel / Business / Work/ School address in country</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Retirees must complete their last place of
                                    work details</th>
                <td>{% if hotel_address.retiree_complete == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>

             <tr>
                <th>Name</th>
                <td>{{hotel_address.name}}</td>
            </tr>


            <tr>
                <th>Postal Address</th>
                <td>{{hotel_address.postal_address}}</td>
            </tr>



            <tr>
                <th>Address 2</th>
                <td>{{hotel_address.address_2}}</td>
            </tr>


            <tr>
                <th>City/Town</th>
                <td>{{hotel_address.city_town}}</td>
            </tr>


            <tr>
                <th>Country</th>
                <td>{{hotel_address.country}}</td>
            </tr>


            <tr>
                <th>State / Region</th>
                <td>{{hotel_address.state_region}}</td>
            </tr>


            <tr>
                <th>Zip Code</th>
                <td>{{hotel_address.zip_code}}</td>
            </tr>


            <tr>
                <th>Email</th>
                <td>{{hotel_address.email}}</td>
            </tr>


        </table>
    </div>


    <h4 class="mb-5">Physical Address of Host / Hotel in Destined Country</h4>
    <div>
        <table style="width:100%">



             <tr>
                <th>Host Name</th>
                <td>{{destined_country_address.host_name}}</td>
            </tr>


              <tr>
                <th>Street Name</th>
                <td>{{destined_country_address.street_name}}</td>
            </tr>

               <tr>
                <th>City</th>
                <td>{{destined_country_address.city}}</td>
            </tr>

               <tr>
                <th>Physical Address</th>
                <td>{{destined_country_address.physical_address}}</td>
            </tr>

               <tr>
                <th>Telephone</th>
                <td>{{destined_country_address.telephone}}</td>
            </tr>

               <tr>
                <th>Email</th>
                <td>{{destined_country_address.email}}</td>
            </tr>



        </table>
    </div>

     <h4 class="mb-5">Name & Address of Employer in Ghana</h4>
    <div>
        <table style="width:100%">



             <tr>
                <th>Name of Reference</th>
                <td>{{employer_address.name_of_reference}}</td>
            </tr>

             <tr>
                <th>Address Line 1</th>
                <td>{{employer_address.address_1}}</td>
            </tr>


             <tr>
                <th>Address Line 2</th>
                <td>{{employer_address.address_2}}</td>
            </tr>


             <tr>
                <th>City/Town</th>
                <td>{{employer_address.city_town}}</td>
            </tr>

             <tr>
                <th>Country</th>
                <td>{{employer_address.country}}</td>
            </tr>

             <tr>
                <th>State / Region</th>
                <td>{{employer_address.state_region}}</td>
            </tr>

             <tr>
                <th>GPS/Digital Address</th>
                <td>{{employer_address.digital_address}}</td>
            </tr>

             <tr>
                <th>Telephone</th>
                <td>{{employer_address.telephone}}</td>
            </tr>

             <tr>
                <th>demo</th>
                <td>{{employer_address.address_1}}</td>
            </tr>

             <tr>
                <th>TIN Number</th>
                <td>{{employer_address.tin_no}}</td>
            </tr>

        </table>
    </div>

     <h4 class="mb-5">Sponsor of Trip</h4>
    <div>
        <table style="width:100%">



             <tr>
                <th>Tick if sponsor is the same as applicant</th>
                <td> {% if mailing_address.sponsor_as_applicant == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>

             <tr>
                <th>Organisation</th>
                <td>{{sponsor_of_trip.organization}}</td>
            </tr>

            <tr>
                <th>Last Name</th>
                <td>{{sponsor_of_trip.last_name}}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{sponsor_of_trip.first_name}}</td>
            </tr>
            <tr>
                <th>Other Names</th>
                <td>{{sponsor_of_trip.other_names}}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{sponsor_of_trip.phone}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{sponsor_of_trip.address}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{sponsor_of_trip.country}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{sponsor_of_trip.email}}</td>
            </tr>



        </table>
    </div>

    <h4 class="mb-5">Application Completed by Another Person</h4>
    <div>
        <table style="width:100%">



             <tr>
                <th>Not Applicable</th>
                <td> {% if proxy_applicant.not_applicable == True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}</td>
            </tr>

             <tr>
                <th>Full Name</th>
                <td>{{proxy_applicant.full_name}}</td>
            </tr>


             <tr>
                <th>Address</th>
                <td>{{proxy_applicant.address}}</td>
            </tr>

            <tr>
                <th>Telephone</th>
                <td>{{proxy_applicant.telephone}}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{proxy_applicant.phone}}</td>
            </tr>
        </table>
    </div>
</section>


<section id="main-container" class="main-container ">
    <div class="container card pt-5 pb-5 pl-5 pr-5">

        <div class="row text-center">
            <div class="col-12">
                <h3 class="section-sub-title">Togo Embassy Visa Application</h3>
                <h4 class="mb-5">Application Details</h4>
            </div>
        </div>
        <!--/ Title row end -->


        <div class="row">
            <div class="col-md-12">
                <div>
                    {% csrf_token %}
                    <div class="step_1">
                        <h6 class="column-title">Application Details</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Visa Type</h5>
                                <p style="font-size: 18px;">{{visa_application.visa_type}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Passport Type</h5>
                                <p style="font-size: 18px;">{{visa_application.passport_type}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Country Residence</h5>
                                <p style="font-size: 18px;">{{visa_application.country_residence}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Visa Entry</h5>
                                <p style="font-size: 18px;">{{visa_application.visa_entry}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Nationality</h5>
                                <p style="font-size: 18px;">{{visa_application.nationality}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Nationality at Birth</h5>
                                <p style="font-size: 18px;">{{visa_application.nationality_at_birth}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Other Nationality</h5>
                                <p style="font-size: 18px;">{{visa_application.other_nationality}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Embassy Processing Office</h5>
                                <p style="font-size: 18px;">{{visa_application.embassy_processing_office}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Service Type</h5>
                                <p style="font-size: 18px;">{{visa_application.nationality_at_birth}}</p>
                            </div>

                        </div>
                        <hr>
                        <h6 class="column-title">Personal Info</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Title</h5>
                                <p style="font-size: 18px;">{{personal_info.title}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Last Name</h5>
                                <p style="font-size: 18px;">{{user.last_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">First Name</h5>
                                <p style="font-size: 18px;">{{user.first_name}}</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Other Names</h5>
                                <p style="font-size: 18px;">{{personal_info.other_names}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Median Names</h5>
                                <p style="font-size: 18px;">{{personal_info.median_names}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Gender</h5>
                                <p style="font-size: 18px;">{{personal_info.gender}}</p>
                            </div>


                        </div>
                        <div class="row">


                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Marital Status</h5>
                                <p style="font-size: 18px;">{{personal_info.marital_status}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Profession</h5>
                                <p style="font-size: 18px;">{{personal_info.profession}}</p>
                            </div>


                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Date of Birth</h5>
                                <p style="font-size: 18px;">{{personal_info.dob|date}}</p>
                            </div>


                        </div>
                        <div class="row">


                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Place of Birth</h5>
                                <p style="font-size: 18px;">{{personal_info.place_of_birth}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Phone Number</h5>
                                <p style="font-size: 18px;">{{personal_info.phone_number}}</p>
                            </div>


                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Mode of Communication</h5>
                                <p style="font-size: 18px;">{{personal_info.mode_of_communication}}</p>
                            </div>


                        </div>

                        <hr>
                        <h6 class="column-title">Travel Detail</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Purpose of Travel</h5>
                                <p style="font-size: 18px;">{{travel_detail.purpose_of_travel}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Date of last visit to country</h5>
                                <p style="font-size: 18px;">{{travel_detail.last_visit_to_country_date|date}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Departure Date</h5>
                                <p style="font-size: 18px;">{{travel_detail.departure_date|date}}</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Stay Duration (Days)</h5>
                                <p style="font-size: 18px;">{{travel_detail.stay_duration}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Do you have return ticket?</h5>

                                {% if travel_detail.return_ticket == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}

                            </div>


                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Financial means at applicant's
                                    disposal?</h5>
                                <p style="font-size: 18px;">{{travel_detail.financial_dispose}}</p>
                            </div>

                        </div>

                        <hr>
                        <h6 class="column-title">Travel History / Criminal History</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Have you ever visited destinated country
                                    before?</h5>

                                {% if travel_history.ever_visited_destination == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Have you ever been denied entry into
                                    destinated country?</h5>

                                {% if travel_history.ever_been_denied_entry == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Have you ever been denied entry into
                                    destinated country?</h5>

                                {% if travel_history.ever_been_denied_entry == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Have you ever been deported to / from
                                    destinated country?</h5>

                                {% if travel_history.ever_been_deported == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Do you have a criminal record in destinated
                                    country or any other country?</h5>

                                {% if travel_history.criminal_record_in_destined_or_other == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Do you suffer from a mental disorder?</h5>

                                {% if travel_history.mental_disorder == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}

                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Do you suffer from any communicable
                                    diseases?</h5>

                                {% if travel_history.communicable_disease == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}

                            </div>
                        </div>

                        <hr>
                        <h6 class="column-title">Passport Details</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Passport Numbers</h5>
                                <p style="font-size: 18px;">{{passport_detail.passport_no}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Place of Issue</h5>
                                <p style="font-size: 18px;">{{passport_detail.place_of_issue}}</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Date of Issue</h5>
                                <p style="font-size: 18px;">{{passport_detail.date_of_issue|date}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Expiry of Issue</h5>
                                <p style="font-size: 18px;">{{passport_detail.expiry_date|date}}</p>
                            </div>
                        </div>

                        <hr>
                        <h6 class="column-title">Contact Information</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Applicant Name</h5>
                                <p style="font-size: 18px;">{{contact_info.application_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Residential address of current country</h5>
                                <p style="font-size: 18px;">{{contact_info.residential_addr_cur_country}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Street name & building Or Apartment
                                    Number</h5>
                                <p style="font-size: 18px;">{{contact_info.street_address}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Postal Address /P.O.Box</h5>
                                <p style="font-size: 18px;">{{contact_info.postal_address}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">City/ Town</h5>
                                <p style="font-size: 18px;">{{contact_info.city_town}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Country</h5>
                                <p style="font-size: 18px;">{{contact_info.country}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">State / Region</h5>
                                <p style="font-size: 18px;">{{contact_info.state_region}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Zip Code</h5>
                                <p style="font-size: 18px;">{{contact_info.zip_code}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Telephone</h5>
                                <p style="font-size: 18px;">{{contact_info.telephone}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Mobile</h5>
                                <p style="font-size: 18px;">{{contact_info.mobile}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Email ID</h5>
                                <p style="font-size: 18px;">{{contact_info.zip_code}}</p>
                            </div>

                        </div>

                        <hr>
                        <h6 class="column-title">Mailing Address</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Select if the Address is same as
                                    Residential Address</h5>
                                {% if mailing_address.same_as_residential == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Recipient Name</h5>
                                <p style="font-size: 18px;">{{mailing_address.recipient_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Postal Address</h5>
                                <p style="font-size: 18px;">{{mailing_address.postal_address}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Address 2</h5>
                                <p style="font-size: 18px;">{{mailing_address.address_2}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">City/Town</h5>
                                <p style="font-size: 18px;">{{mailing_address.city_town}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Country</h5>
                                <p style="font-size: 18px;">{{mailing_address.country}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">State / Region</h5>
                                <p style="font-size: 18px;">{{mailing_address.state_region}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Zip Code </h5>
                                <p style="font-size: 18px;">{{mailing_address.zip_code}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Email</h5>
                                <p style="font-size: 18px;">{{mailing_address.email}}</p>
                            </div>
                        </div>

                        <hr>
                        <h6 class="column-title">Hotel / Business / Work/ School address in country</h6>
                        <hr>

                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Retirees must complete their last place of
                                    work details</h5>
                                {% if hotel_address.retiree_complete == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Name</h5>
                                <p style="font-size: 18px;">{{hotel_address.name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Postal Address</h5>
                                <p style="font-size: 18px;">{{hotel_address.postal_address}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Address 2</h5>
                                <p style="font-size: 18px;">{{hotel_address.address_2}}</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">City/Town</h5>
                                <p style="font-size: 18px;">{{hotel_address.city_town}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Country</h5>
                                <p style="font-size: 18px;">{{hotel_address.country}}</p>
                            </div>


                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">State / Region</h5>
                                <p style="font-size: 18px;">{{hotel_address.state_region}}</p>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Zip Code</h5>
                                <p style="font-size: 18px;">{{hotel_address.zip_code}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Email</h5>
                                <p style="font-size: 18px;">{{hotel_address.email}}</p>
                            </div>
                        </div>

                        <hr>
                        <h6 class="column-title">Physical Address of Host / Hotel in Destined Country</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Host Name</h5>
                                <p style="font-size: 18px;">{{destined_country_address.host_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Street Name</h5>
                                <p style="font-size: 18px;">{{destined_country_address.street_name}}</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">City</h5>
                                <p style="font-size: 18px;">{{destined_country_address.city}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Physical Address</h5>
                                <p style="font-size: 18px;">{{destined_country_address.physical_address}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Telephone</h5>
                                <p style="font-size: 18px;">{{destined_country_address.telephone}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Email</h5>
                                <p style="font-size: 18px;">{{destined_country_address.email}}</p>
                            </div>

                        </div>


                        <hr>
                        <h6 class="column-title">Name & Address of Employer in Ghana</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Name of Reference</h5>
                                <p style="font-size: 18px;">{{employer_address.name_of_reference}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Address Line 1</h5>
                                <p style="font-size: 18px;">{{employer_address.address_1}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Address Line 2</h5>
                                <p style="font-size: 18px;">{{employer_address.address_2}}</p>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">City/Town</h5>
                                <p style="font-size: 18px;">{{employer_address.city_town}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Country</h5>
                                <p style="font-size: 18px;">{{employer_address.country}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">State / Region</h5>
                                <p style="font-size: 18px;">{{employer_address.state_region}}</p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">GPS/Digital Address</h5>
                                <p style="font-size: 18px;">{{employer_address.digital_address}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Telephone</h5>
                                <p style="font-size: 18px;">{{employer_address.telephone}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">TIN Number</h5>
                                <p style="font-size: 18px;">{{employer_address.tin_no}}</p>
                            </div>

                        </div>


                        <hr>
                        <h6 class="column-title">Sponsor of Trip</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Tick if sponsor is the same as
                                    applicant</h5>
                                {% if mailing_address.sponsor_as_applicant == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Organisation</h5>
                                <p style="font-size: 18px;">{{sponsor_of_trip.organization}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Last Name</h5>
                                <p style="font-size: 18px;">{{sponsor_of_trip.last_name}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">First Name</h5>
                                <p style="font-size: 18px;">{{sponsor_of_trip.first_name}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Other Names</h5>
                                <p style="font-size: 18px;">{{sponsor_of_trip.other_names}}</p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Phone</h5>
                                <p style="font-size: 18px;">{{sponsor_of_trip.phone}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Address</h5>
                                <p style="font-size: 18px;">{{sponsor_of_trip.address}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Country</h5>
                                <p style="font-size: 18px;">{{sponsor_of_trip.country}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Email</h5>
                                <p style="font-size: 18px;">{{sponsor_of_trip.email}}</p>
                            </div>

                        </div>

                        <hr>
                        <h6 class="column-title">Application Completed by Another Person</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Not Applicable</h5>
                                {% if proxy_applicant.not_applicable == True %}
                                <p style="font-size: 18px;">Yes</p>
                                {% else %}
                                <p style="font-size: 18px;">No</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Full Name</h5>
                                <p style="font-size: 18px;">{{proxy_applicant.full_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Address</h5>
                                <p style="font-size: 18px;">{{proxy_applicant.address}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Telephone</h5>
                                <p style="font-size: 18px;">{{proxy_applicant.telephone}}</p>
                            </div>

                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Phone</h5>
                                <p style="font-size: 18px;">{{proxy_applicant.phone}}</p>
                            </div>

                        </div>


                        <hr>
                        <h6 class="column-title">Payment Information</h6>
                        <hr>

                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Payment Method</h5>
                                <p style="font-size: 18px;">{{payment.payment_method}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="color: gray;" class="visa_font_p">Amount</h5>
                                <p style="font-size: 18px;">{{payment.amount}}</p>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col">

                            </div>
                        </div>


                    </div>

                </div><!-- Content row -->
            </div><!-- Conatiner end -->
</section>


</div><!-- Body inner end -->
</body>

</html>