

<!DOCTYPE html>
<html lang="en">

<head>

    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  padding:5px
}

.title {
    text-align: center;
}

.pd {
padding: 15px;

}


    </style>

</head>

<body>

<div class="title">
    <h1 class="section-sub-title">Togo Embassy Visa Application</h1>
    <h4 class="mb-5">Application Details</h4>

</div>


<section>
    <div>
        <table style="width:100%">

            <tr>
                <th>Visa Type</th>
                <td>Business</td>
            </tr>
            <tr>
                <th>Passport Type</th>
                <td>Ordinary</td>
            </tr>
            <tr>
                <th>Country Residence</th>
                <td>Afghanistan</td>
            </tr>
             <tr>
                <th>Visa Entry</th>
                <td>Single Entry</td>
            </tr>

             <tr>
                <th>Nationality</th>
                <td>Greatness</td>
            </tr>

            <tr>
                <th>Nationality at Birth</th>
                <td>Greatness</td>
            </tr>

            <tr>
                <th>Other Nationality</th>
                <td>Greatness</td>
            </tr>

            <tr>
                <th>Embassy Processing Office</th>
                <td>Greatness</td>
            </tr>


        </table>
    </div>
    <h4 class="pd">Personal Info</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Title</th>
                <td>Greatness</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>Deladem</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>PingShip</td>
            </tr>
             <tr>
                <th>Other Names</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>Median Names</th>
                <td>Greatness</td>
            </tr>

            <tr>
                <th>Gender</th>
                <td>Male</td>
            </tr>

            <tr>
                <th>Marital Status</th>
                <td>Single</td>
            </tr>

            <tr>
                <th>Profession</th>
                <td>Greatness</td>
            </tr>

            <tr>
                <th>Date of Birth</th>
                <td>Aug. 5, 2022</td>
            </tr>

             <tr>
                <th>Place of Birth</th>
                <td>Greatness</td>
            </tr>
             <tr>
                <th>Phone Number</th>
                <td>Greatness</td>
            </tr>
             <tr>
                <th>Mode of Communication</th>
                <td>Email</td>
            </tr>


        </table>
    </div>

    <h4 class="pd">Travel Detail</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Purpose of Travel</th>
                <td>Temporary</td>
            </tr>
            <tr>
                <th>Date of last visit to country</th>
                <td>Aug. 27, 2022</td>
            </tr>

            <tr>
                <th>Departure Date</th>
                <td>Aug. 4, 2022</td>
            </tr>


            <tr>
                <th>Stay Duration (Days)</th>
                <td>-23</td>
            </tr>


             <tr>
                <th>Stay Duration (Days)</th>
                <td>
                                Yes
                                </td>
            </tr>

               <tr>
                <th>Financial means at applicant's
                                    disposal?</th>
                <td>Greatness</td>
            </tr>




        </table>
    </div>


     <h4 class="pd">Travel History / Criminal History</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Purpose of Travel</th>
                <td> 
                                No
                                </td>
            </tr>
            <tr>
                <th>Have you ever been denied entry into
                                    destinated country?</th>
                <td> 
                                No
                                </td>
            </tr>

            <tr>
                <th>Have you ever been deported to / from
                                    destinated country?</th>
                <td> 
                                No
                                </td>
            </tr>

               <tr>
                <th>Do you have a criminal record in destinated
                                    country or any other country?</th>
                <td> 
                                No
                                </td>
            </tr>

             <tr>
                <th>Do you suffer from a mental disorder?</th>
                <td> 
                                No
                                </td>
            </tr>


             <tr>
                <th>Do you suffer from any communicable
                                    diseases?</th>
                <td> 
                                No
                                </td>
            </tr>






        </table>
    </div>

      <h4 class="pd">Passport Details</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Passport Numbers</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>Place of Issue</th>
                <td>Greatness</td>
            </tr>



            <tr>
                <th>Date of Issue</th>
                <td>July 6, 2022</td>
            </tr>

             <tr>
                <th>Expiry of Issue</th>
                <td>July 13, 2022</td>
            </tr>





        </table>
    </div>

     <h4 class="pd">Contact Information</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Applicant Name</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>Residential address of current country</th>
                <td>Greatness</td>
            </tr>
             <tr>
                <th>Postal Address /P.O.Box</th>
                <td>Greatness</td>
            </tr>
             <tr>
                <th>City/ Town</th>
                <td>Greatness</td>
            </tr>

            <tr>
                <th>Country</th>
                <td>Ghana</td>
            </tr>
            <tr>
                <th>State / Region</th>
                <td>Greatness</td>
            </tr><tr>
                <th>Zip Code</th>
                <td>Greatness</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>Greatness</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>Greatness</td>
            </tr>
            <tr>
                <th>Email ID</th>
                <td>Greatness</td>
            </tr>






        </table>
    </div>

       <h4 class="pd">Mailing Address</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Select if the Address is same as Residential Address</th>
                <td>
                                Yes
                                </td>
            </tr>

             <tr>
                <th>Postal Address</th>
                <td>None</td>
            </tr>

            <tr>
                <th>Address 2</th>
                <td>None</td>
            </tr>
            <tr>
                <th>City/Town</th>
                <td>None</td>
            </tr>

            <tr>
                <th>Country</th>
                <td>Afghanistan</td>
            </tr>

            <tr>
                <th>State / Region</th>
                <td>None</td>
            </tr>


             <tr>
                <th>Zip Code</th>
                <td>None</td>
            </tr>

             <tr>
                <th>Email</th>
                <td>None</td>
            </tr>
        </table>
    </div>

    <h4 class="pd">Hotel / Business / Work/ School address in country</h4>
    <div>
        <table style="width:100%">

            <tr>
                <th>Retirees must complete their last place of
                                    work details</th>
                <td>
                                Yes
                                </td>
            </tr>

             <tr>
                <th>Name</th>
                <td>None</td>
            </tr>


            <tr>
                <th>Postal Address</th>
                <td>None</td>
            </tr>



            <tr>
                <th>Address 2</th>
                <td>None</td>
            </tr>


            <tr>
                <th>City/Town</th>
                <td>None</td>
            </tr>


            <tr>
                <th>Country</th>
                <td>Afghanistan</td>
            </tr>


            <tr>
                <th>State / Region</th>
                <td>None</td>
            </tr>


            <tr>
                <th>Zip Code</th>
                <td>None</td>
            </tr>


            <tr>
                <th>Email</th>
                <td>None</td>
            </tr>


        </table>
    </div>


    <h4 class="pd">Physical Address of Host / Hotel in Destined Country</h4>
    <div>
        <table style="width:100%">



             <tr>
                <th>Host Name</th>
                <td>Greatness</td>
            </tr>


              <tr>
                <th>Street Name</th>
                <td>Greatness</td>
            </tr>

               <tr>
                <th>City</th>
                <td>Greatness</td>
            </tr>

               <tr>
                <th>Physical Address</th>
                <td>Greatness</td>
            </tr>

               <tr>
                <th>Telephone</th>
                <td>Greatness</td>
            </tr>

               <tr>
                <th>Email</th>
                <td>Greatness</td>
            </tr>



        </table>
    </div>

     <h4 class="pd">Name & Address of Employer in Ghana</h4>
    <div>
        <table style="width:100%">



             <tr>
                <th>Name of Reference</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>Address Line 1</th>
                <td>Greatness</td>
            </tr>


             <tr>
                <th>Address Line 2</th>
                <td>Greatness</td>
            </tr>


             <tr>
                <th>City/Town</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>Country</th>
                <td>Ghana</td>
            </tr>

             <tr>
                <th>State / Region</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>GPS/Digital Address</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>Telephone</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>demo</th>
                <td>Greatness</td>
            </tr>

             <tr>
                <th>TIN Number</th>
                <td>Greatness</td>
            </tr>

        </table>
    </div>

     <h4 class="pd">Sponsor of Trip</h4>
    <div>
        <table style="width:100%">



             <tr>
                <th>Tick if sponsor is the same as applicant</th>
                <td> 
                                No
                                </td>
            </tr>

             <tr>
                <th>Organisation</th>
                <td>None</td>
            </tr>

            <tr>
                <th>Last Name</th>
                <td>None</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>None</td>
            </tr>
            <tr>
                <th>Other Names</th>
                <td>None</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>None</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>None</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>Afghanistan</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>None</td>
            </tr>



        </table>
    </div>

    <h4 class="pd">Application Completed by Another Person</h4>
    <div>
        <table style="width:100%">



             <tr>
                <th>Not Applicable</th>
                <td> 
                                Yes
                                </td>
            </tr>

             <tr>
                <th>Full Name</th>
                <td>None</td>
            </tr>


             <tr>
                <th>Address</th>
                <td>None</td>
            </tr>

            <tr>
                <th>Telephone</th>
                <td>None</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>None</td>
            </tr>
        </table>
    </div>
</section>


<div>
    <br>
    <p>This is a printable version of your visa application.</p>
</div>


</div><!-- Body inner end -->
</body>

</html>